body { font-family: 'Open Sans', sans-serif; padding: 0; margin: 0; }

.left { float: left; width: 40%;background-color: #ffffff; height: 100vh; }

.allignment { padding: 0 60px; }

.logo { margin-top: 70px; margin-bottom: 50px; }

.sign-in-heading { font-weight: 300; color: #5b5b5b; font-size: 25px;margin-bottom: 10px; }

.sign-in-heading span { font-weight: bold; }

.sign-in-description { line-height:1; font-size: 14px;margin-top: 0px; color: #5b5b5b; }

.sign-in-description-red { line-height:1; font-size: 14px;margin-top: 0px; color: #f7000d; }

.sign-in-form input { width: 100%;padding:16px 8px;margin:8px 0;display: inline-block;border: 1px solid#ccc; box-sizing: border-box; }

.sign-in-form button { font-size: 18px; padding: 14px 0;font-weight: bold; color: white; margin: 10px 0; border: none;  background-color: #565fcc; width: 100%;font-size: 14px; }

.sign-up-text { font-size:14px; text-align:center; color:grey; }

.sign-up-text a { color: #565fcc; text-decoration: none; }

.right { float: right; width: 60%; background-color: #1e1e1e; height: 100vh; }

.btn-left > a { text-decoration: none; padding: 14px 30px; color: #fcbc1a; border:1px solid #fcbc1a; background-color: transparent; margin: 25px 30px; float: right; border-radius: 40px; outline: none; margin-right: 50px; }

.right-sect-detail { color: white; line-height: 20px; margin-top: 40px; letter-spacing: 2px; font-size: 18px; }

.right-sect-title { color: white; font-style: italic; text-align: right; font-size: 14px; }

.img-setting { margin-right: 74px; margin-left: 60px; padding-top: 80px;clear: both; }

.screen-2 .logo { margin-bottom: 30px; }

.screen-2 .img-setting { margin-right: 74px; margin-left: 60px; padding-top: 180px; }

.screen-2 .right-sect-detail { color: #000; }

.screen-2 .right-sect-title { color: #000; }

.screen-2 .right { background-color: #ffbc00; }

.screen-4 .left { float: left; width: 60%;background-color:ffffff; height: 100vh; }

.screen-4 .allignment { padding: 0 100px; }

.screen-4 .logo { margin-top: 50px; margin-bottom: 30px; }

.dimension-metrix-section > div { margin:12px 0; display: inline-block; width: 100%; }

.dimension-metrix-section label { margin-bottom: 5px; font-size: 18px; color: #5b5b5b; display: block; }

.dimension-metrix-section select { width: 100%; border: none; padding:16px 8px; margin:0; display: inline-block; border: 1px solid#ccc; box-sizing: border-box; }

.dimension-metrix-section button { padding: 14px 50px; font-size: 18px; font-weight: bold; color: white; margin: 12px 0; border: none;  background-color: #565fcc; float: right; font-size: 14px; }

.screen-5 .img-setting img { max-width: 200px; }

.screen-5 .logo { margin-bottom: 30px; }

.screen-5 .img-setting { margin-right: 74px; margin-left: 60px; padding-top: 180px; }

.screen-5 .right-sect-detail { color: #000; }

.screen-5 .right-sect-title { color: #000; }

.screen-5 .right { background-color: #ffbc00; }

.screen-5 .input-w { display: flex; align-items: center; justify-content: center; }

.screen-5 .input-w label { display: inline-block; vertical-align: middle; margin-right: 20px; color: #939393; font-size: 20px; }

.screen-5 .input-w input { display: inline-block; vertical-align: middle; font-size: 16px; }

.screen-5 .sign-in-form button { float: right; width: inherit; padding: 14px 50px; }

@media screen and (max-width: 786px) {
	
	.left { width: 100%; }
	
	.allignment { padding: 0 30px; }
	
	.right { width: 100%; }
	
	.img-setting { margin-right: 30px; margin-left: 30px; padding-top: 30px; }
	
	.screen-2 .img-setting { margin-right: 30px; margin-left: 30px; padding-top: 60px; }
	
	.btn-left button { margin-right: 30px; }
	
	.screen-4 .left { width: 100%; }
	
	.screen-4 .allignment { padding: 0 30px; }
	
	.screen-5 .img-setting { margin-right: 30px; margin-left: 30px; padding-top: 60px; }
	
}

.left { float: left; width: 40%;background-color: #ffffff; height: 100vh; }

.allignment { padding: 0 60px; }

.logo { margin-top: 70px; margin-bottom: 50px; }

.sign-in-heading { font-weight: 300; color: #5b5b5b; font-size: 25px;margin-bottom: 10px; }

.sign-in-heading span { font-weight: bold; }

.sign-in-description { line-height:1; font-size: 14px;margin-top: 0px; color: #5b5b5b; }

.sign-in-description-red { line-height:1; font-size: 14px;margin-top: 0px; color: #f7000d; }

.sign-in-form input { width: 100%;padding:16px 8px;margin:8px 0;display: inline-block;border: 1px solid#ccc; box-sizing: border-box; }

.sign-in-form button { font-size: 18px; padding: 14px 0;font-weight: bold; color: white; margin: 10px 0; border: none;  background-color: #565fcc; width: 100%;font-size: 14px; }

.sign-up-text { font-size:14px; text-align:center; color:grey; }

.sign-up-text a { color: #565fcc; text-decoration: none; }

.right { float: right; width: 60%; background-color: #1e1e1e; height: 100vh; }

.btn-left > a { padding: 14px 30px; color: #fcbc1a; border:1px solid #fcbc1a; background-color: transparent; margin: 25px 30px; float: right; border-radius: 40px; outline: none; margin-right: 50px; }

.right-sect-detail { color: white; line-height: 20px; margin-top: 40px; letter-spacing: 2px; font-size: 18px; }

.right-sect-title { color: white; font-style: italic; text-align: right; font-size: 14px; }

.img-setting { margin-right: 74px; margin-left: 60px; padding-top: 80px;clear: both; }

.screen-2 .logo { margin-bottom: 30px; }

.screen-2 .img-setting { margin-right: 74px; margin-left: 60px; padding-top: 180px; }

.screen-2 .right-sect-detail { color: #000; }

.screen-2 .right-sect-title { color: #000; }

.screen-2 .right { background-color: #ffbc00; }

.screen-4 .left { float: left; width: 60%;background-color:ffffff; height: 100vh; }

.screen-4 .allignment { padding: 0 100px; }

.screen-4 .logo { margin-top: 50px; margin-bottom: 30px; }

.dimension-metrix-section > div { margin:12px 0; display: inline-block; width: 100%; }

.dimension-metrix-section label { margin-bottom: 5px; font-size: 18px; color: #5b5b5b; display: block; }

.dimension-metrix-section select { width: 100%; border: none; padding:16px 8px; margin:0; display: inline-block; border: 1px solid#ccc; box-sizing: border-box; }

.dimension-metrix-section button { padding: 14px 50px; font-size: 18px; font-weight: bold; color: white; margin: 12px 0; border: none;  background-color: #565fcc; float: right; font-size: 14px; }

.screen-5 .img-setting img { max-width: 200px; }

.screen-5 .logo { margin-bottom: 30px; }

.screen-5 .img-setting { margin-right: 74px; margin-left: 60px; padding-top: 180px; }

.screen-5 .right-sect-detail { color: #000; }

.screen-5 .right-sect-title { color: #000; }

.screen-5 .right { background-color: #ffbc00; }

.screen-5 .input-w { display: flex; align-items: center; justify-content: center; }

.screen-5 .input-w label { display: inline-block; vertical-align: middle; margin-right: 20px; color: #939393; font-size: 20px; }

.screen-5 .input-w input { display: inline-block; vertical-align: middle; font-size: 16px; }

.screen-5 .sign-in-form button { float: right; width: inherit; padding: 14px 50px; }

@media screen and (max-width: 786px) {
	
	.left { width: 100%; }
	
	.allignment { padding: 0 30px; }
	
	.right { width: 100%; }
	
	.img-setting { margin-right: 30px; margin-left: 30px; padding-top: 30px; }
	
	.screen-2 .img-setting { margin-right: 30px; margin-left: 30px; padding-top: 60px; }
	
	.btn-left button { margin-right: 30px; }
	
	.screen-4 .left { width: 100%; }
	
	.screen-4 .allignment { padding: 0 30px; }
	
	.screen-5 .img-setting { margin-right: 30px; margin-left: 30px; padding-top: 60px; }
	
}